{% extends "layout.html" %}
{% block title %}
  {{ instruction_model.name }} :: {{ learning_model.name }}
{% endblock %}
{% block body %}
  <div class="container">
    <h1>
      <small>{{ instruction_model.name }}</small>
      <br />
      {{ learning_model.name }}
    </h1>
    <hr />
    <form class="form" method="POST"
          action="{{ url_for('instruction_models.validate',
                             subject=learning_model.subject) }}">
      <input type="hidden" name="name" value="{{ learning_model.name }}" />
      <table class="table table-bordered">
        <thead>
          <tr class="active">
            <th>단계</th>
            <th>교수 · 학습활동</th>
          </tr>
        </thead>
        <tbody>
          {% for step in learning_model.steps %}
            {% for activity in step.activities %}
              <tr>
                {% if loop.index0 == 0 %}
                  <td rowspan="{{ step.activities|length }}">
                    {% if (True, False)|random %}
                      <input class="form-control" />
                    {% else %}
                      {{ step.name }}
                    {% endif %}
                  </td>
                {% endif %}

                <td>
                  {% if (True, False)|random %}
                    <input class="form-control" />
                  {% else %}
                    {{ activity.name }}
                  {% endif %}
                </tr>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>

      <input type="submit" class="btn btn-primary pull-right" value="검사받기" />
    </form>
  </div>
{% endblock %}
