{% extends "layout.html" %}

{% block title %}
  {{ instruction_model.name }}
{% endblock %}

{% block navbar %}
  <li><a href="{{ url_for('instruction_models.index') }}">수업 모형</a></li>
{% endblock %}

{% block body %}
  <div class="container">
    <h1>
      <small>{{ instruction_model.name }}</small>
      <br />
      {{ learning_model.name }}
    </h1>
    <hr />

    <form class="form" autocomplete="off" method="POST"
          action="{{ url_for('instruction_models.validate', subject=instruction_model.subject) }}">

      <input type="hidden" name="learning_model_id" value="{{ learning_model.id }}" />
      <input type="hidden" name="blank_step_ids" value="{{ blank_step_ids|join(',') }}" />
      <input type="hidden" name="blank_activity_ids" value="{{ blank_activity_ids|join(',') }}" />

      <table class="table table-bordered">
        <thead>
          <tr class="active">
            <th>단계</th>
            <th>교수 · 학습활동</th>
          </tr>
        </thead>
        <tbody>
          {% for step in learning_model.steps %}
          {% set step_id = step.id|string %}
            {% for activity in step.activities %}
              {% set activity_id = activity.id|string %}
              <tr>
                {% if loop.index0 == 0 %}
                  <td rowspan="{{ step.activities|length }}">
                    {% if step_id in blank_step_ids %}
                      {% set input = input_steps[step_id] %}
                      {% if not input %}
                        {% set validate_class = '' %}
                      {% elif input.replace(' ', '') == step.name.replace(' ', '') %}
                        {% set validate_class = 'has-success' %}
                      {% else %}
                        {% set validate_class = 'has-error' %}
                      {% endif %}
                      <div class="form-group {{ validate_class }}">
                        <input class="form-control" name="step-{{ step_id }}"
                               value="{{ input }}" />
                        <label class="control-label">
                          <small>
                            {% if validate_class == 'has-success' %}
                              참! 잘했어요
                            {% elif validate_class == 'has-error' %}
                              {{ step.name }}
                            {% endif %}
                          </small>
                        </label>
                      </div>
                    {% else %}
                      {{ step.name }}
                    {% endif %}
                  </td>
                {% endif %}

                <td>
                  {% if activity_id in blank_activity_ids %}
                    {% set input = input_activities[activity_id] %}
                    {% if not input %}
                      {% set validate_class = '' %}
                    {% elif input.replace(' ', '') == activity.name.replace(' ', '') %}
                      {% set validate_class = 'has-success' %}
                    {% else %}
                      {% set validate_class = 'has-error' %}
                    {% endif %}
                    <div class="form-group {{ validate_class }}">
                      <input class="form-control" name="activity-{{ activity_id }}"
                             value="{{ input }}" />
                      <label class="control-label">
                        <small>
                          {% if validate_class == 'has-success' %}
                            참! 잘했어요
                          {% elif validate_class == 'has-error' %}
                            {{ activity.name }}
                          {% endif %}
                        </small>
                      </label>
                    </div>
                  {% else %}
                    {{ activity.name }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>

      <input type="submit" class="btn btn-default" value="검사받기" />
      <a href="{{ url_for('instruction_models.quiz', subject=instruction_model.subject) }}"
         class="btn btn-default pull-right">다음문제</a>
    </form>
  </div>
{% endblock %}
